@utility checkbox {
  --size: calc(var(--size-selector, 0.25rem) * 6);
  --input-color: var(--color-accent);
  --checkbox-border: color-mix(
    in oklab,
    var(--color-neutral-9) 20%,
    var(--color-neutral-1)
  );

  cursor: pointer;
  appearance: none;
  border: var(--border, 1px) solid var(--checkbox-border);
  border-radius: var(--radius-selector, 0.5rem);
  vertical-align: middle;
  color: var(--checkmark-color, var(--color-neutral-1));
  box-shadow:
    0 1px oklch(0% 0 0 / calc(var(--depth, 1) * 0.1)) inset,
    0 0 #0000 inset,
    0 0 #0000;
  width: var(--size);
  height: var(--size);
  background-color: var(--color-neutral-1);
  flex-shrink: 0;
  padding: 0.25rem;
  transition:
    background-color 0.2s,
    border-color 0.2s,
    box-shadow 0.2s;
  display: inline-block;
  position: relative;

  &::before {
    content: '';
    opacity: 0;
    clip-path: polygon(20% 100%, 20% 80%, 50% 80%, 50% 80%, 70% 80%, 70% 100%);
    width: 100%;
    height: 100%;
    box-shadow: 0 3px 0 0 oklch(100% 0 0 / calc(var(--depth, 1) * 0.1)) inset;
    background-color: currentColor;
    font-size: var(--text-copy-14);
    line-height: 0.75;
    transition:
      clip-path 0.3s 0.1s,
      opacity 0.1s 0.1s,
      rotate 0.3s 0.1s,
      translate 0.3s 0.1s;
    display: block;
    rotate: 45deg;
  }

  &:focus-visible {
    outline: 2px solid var(--input-color);
    outline-offset: 2px;
  }

  &:checked,
  &[aria-checked='true'] {
    border-color: var(--input-color);
    background-color: var(--input-color);
    box-shadow:
      0 0 #0000 inset,
      0 8px 0 -4px oklch(100% 0 0 / calc(var(--depth, 1) * 0.1)) inset,
      0 1px oklch(0% 0 0 / calc(var(--depth, 1) * 0.1));

    &::before {
      clip-path: polygon(20% 100%, 20% 80%, 50% 80%, 50% 0%, 70% 0%, 70% 100%);
      opacity: 1;
    }

    @media (forced-colors: active) {
      &::before {
        content: '✔';
        clip-path: none;
        background-color: transparent;
        rotate: none;
      }
    }

    @media print {
      &::before {
        content: '✔';
        clip-path: none;
        background-color: transparent;
        rotate: none;
      }
    }
  }

  &:indeterminate {
    border-color: var(--input-color);
    background-color: var(--input-color);

    &::before {
      opacity: 1;
      clip-path: polygon(
        20% 100%,
        20% 80%,
        50% 80%,
        50% 80%,
        80% 80%,
        80% 100%
      );
      translate: 0 -35%;
      rotate: none;
    }
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.2;
  }
}

@utility checkbox-xs {
  --size: calc(var(--size-selector, 0.25rem) * 4);
  padding: 0.125rem;
}

@utility checkbox-sm {
  --size: calc(var(--size-selector, 0.25rem) * 5);
  padding: 0.1875rem;
}

@utility checkbox-md {
  --size: calc(var(--size-selector, 0.25rem) * 6);
  padding: 0.25rem;
}

@utility checkbox-lg {
  --size: calc(var(--size-selector, 0.25rem) * 7);
  padding: 0.3125rem;
}

@utility checkbox-xl {
  --size: calc(var(--size-selector, 0.25rem) * 8);
  padding: 0.375rem;
}

@utility checkbox-accent {
  --input-color: var(--color-accent);
  --checkmark-color: var(--color-neutral-1);
}

@utility checkbox-neutral {
  --input-color: var(--color-neutral-8);
  --checkmark-color: var(--color-neutral-1);
}

@utility checkbox-info {
  --input-color: var(--color-info);
  --checkmark-color: var(--color-neutral-1);
}

@utility checkbox-success {
  --input-color: var(--color-success);
  --checkmark-color: var(--color-neutral-1);
}

@utility checkbox-warning {
  --input-color: var(--color-warning);
  --checkmark-color: var(--color-neutral-1);
}

@utility checkbox-error {
  --input-color: var(--color-error);
  --checkmark-color: var(--color-neutral-1);
}
